.ng-touched.ng-valid {
  border: 3px green solid;
}

.ng-touched.ng-invalid {
  border: 3px red solid;
}

fieldset {
  display: block;
   border-width: 2px;
   border-style: groove;
   border-color: threedface;
   border-image: initial;
   padding: 20px;
   max-width: 600px;
}

legend {
  border-bottom: 0px;
  width: auto;
}
div fieldset form input {
  color: black;
}

div fieldset form button {
  margin-top: 20px;
  color: red;
}

.sign-up-legend {
  color: white;
  font-size: 1.3em;
}

.unregistered a {
  font-size: 1.3em;
}

.favorite-menu {
  margin-top: 20px;
  margin-bottom: 10px;
}
